{% extends 'base.html.twig' %}

{% block title %}Hello AlimentController!{% endblock %}
{% block myTitle %}Page d'administration{% endblock %}

{% block body %}
<H1>Administration</H1>
<table class="table">
    <tr class="table-primary">
        <td>Images</td>
        <td>Aliment</td>
        <td>Prix</td>
        <td>Calorie</td>
        <td>Proteine</td>
        <td>Glucide</td>
        <td>Lipide</td>
        <td>Action</td>
    </tr>
    {% for alim in aliments %}
    <tr>
        <td><img style="width: 50px"src="{{asset('img/' ~ alim.img)}}" alt=""></td>
        <td>{{alim.name}}</td>
        <td>{{alim.price}}</td>
        <td>{{alim.calorie}}</td>
        <td>{{alim.proteine}}</td>
        <td>{{alim.glucides}}</td>
        <td>{{alim.Lipides}}</td>
        <td>
            <a href="{{path('admin.aliment.one',{'id':alim.id })}}"  class="btn btn-primary">modifier</a>
            <a href="" class="btn btn-danger">supprimer</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="" class="btn btn-success"> ajouter</a>
{% endblock %}
